h1 {
        text-align: center;
        font-size: 36pt;
    }

    h2 {
        text-align: center;
        font-size: 32pt;
    }

    @media(min-width:1060px) {
        #grid {
            display: grid;
        }
    }

    #grid {
        text-align: center;
        grid-template-columns: 1fr 1fr;
    }

    .button1 {
        background-color: white;
        border: 1px solid gray;
        color: black;
        padding: 60px 128px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 64px;
        margin: 60px
    }

    .button2 {
        background-color: red;
        border: none;
        color: white;
        padding: 60px 128px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 64px;
        margin: 60px
    }